:root {
  /* Layout */
  --header-height: linearClamp(tiny, huge, 5rem, 7rem);

  --max-content-width: 64rem;
  --content-padding: linearClamp(tiny, medium, 1.5, 3);
  --calculated-content-padding: max(
    var(--content-padding),
    calc((100vw - var(--max-content-width)) / 2)
  );
  --content-vertical-padding: linearClamp(small, huge, 3, 6);

  /* Colors */
  --primary-color: lch(50% 61 287);
  --primary-color-light: lch(80% 61 287);
  --primary-color-light-bg: lch(50% 61 287 / 0.1);
  --primary-color-dark-bg: lch(50% 61 287 / 0.4);
  --primary-color-strong: lch(40% 61 287);

  --golden-color: lch(84% 57 79);
  --golden-color-light: lch(95% 57 79);

  /* Components */
  --header-font-size: linearClamp(tiny, huge, 2, 2.5);
  --header-font-family: ClashDisplay, sans-serif;
  --header-font-weight: 500;

  --code-font-size: 1rem;
  --code-font-family: 'Roboto Mono', monospace;

  /* Syntax highlighting */
  --cm-comment: #888;
  --cm-string: #d48372;
  --cm-literal: #55a398;
  --cm-keyword: #55a398;
  --cm-boolean: #1c6b48;
  --cm-number: #6394bf;
  --cm-variable: #fac864;
  --cm-function: #a1b567;
  --cm-deleted: #a14f55;
  --cm-class: #54b1bf;
  --cm-builtin: #e0a569;
  --cm-property: #dd8e6e;
  --cm-namespace: #db889a;
  --cm-punctuation: #ddd;
  --cm-decorator: #ff8484;
  --cm-regex: #ab5e3f;
  --cm-json-property: #6b8b9e;
}
